.container_main{
    margin:0;
    display: flex;
    float: right;
}
#list_main{
    list-style: none;
}
#sticky{
    background-color:white;
}
.registration_link{
    background-color: white;
    height: 50px;
    width: 150px;
    border-top: 0;
    border-bottom: 0;
    color: #D92222;
    transition: background-color 0.6s ,border-right 0.6s , border-left 0.6s;

}
.registration_link:hover{
    background-color: #D92222;
    color: white;
    border:0,0,0,0;
    border-radius: 10px;

}
.complaint_link{
    background-color: white;
    height: 50px;
    width: 150px;
    border-top: 0;
    border-bottom: 0;
    color: #D92222;
    transition: background-color 0.6s ,border-right 0.6s , border-left 0.6s;

}
.complaint_link:hover{
    background-color: #D92222;
    color: white;
    border:0,0,0,0;
    border-radius: 10px;

}
.union_center{
    color: #D92222;
    margin-left:10px;

}
#hide{
    opacity: 0;
}
.annoucment{
    background-color:#D92222;
    height: 50vh;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
}
.announcment_text{
    color:white;
}
#learn_more{
    width: 150px;
}
.information{
    background-color:#FFF3F2;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-evenly;
}
.helper{
   color:#D92222;
   margin-left: 40px;
}
.information_box{
    display: flex;
    justify-content: space-around;
}
.information_first{
    height: 100px;
    background-color:white;
    border-radius:20px;
    display: flex;
    margin-bottom: 60px;
    align-items: center;
    width: 65vh;
    justify-content: space-between;
    box-shadow: 1px 1px 15px black;
}
.exstra_div{
    display: flex;
    align-items: center;
    width: 30vh;
    justify-content: space-around;
}
.footer{
    background-color:#E7DFDF;
    opacity: 0.3;
    display: flex;
    height: 30vh;
    padding-top: 30px;
    justify-content: space-around;
    align-items: center;
}
.main_list{
    list-style: none;
}
.list_element{
    margin-bottom: 20px;
}
.img_group{
    display: flex;
    width: 20vh;
    justify-content: space-between;
}
.reg_page{
    height: 100vh;
    background-color:#D92222;
    display: flex;
}
.registration_field{
    background-color:white;
    border-radius:18px;
    height: 70vh;
    width: 50vh;
    margin: auto;
}